* {
	padding: 2px;
	margin: 2px;
	text-align: center;
  font-size: 40px;
  background-color: #f0f8ff;
  font-family: sans-serif;
}

.center {
	margin-left: auto;
  	margin-right: auto;
}

#my_table {
    border-collapse: collapse;
    width: 60%;
    border: 1px solid black;
    margin-left: auto;
  	margin-right: auto;
    margin-top: 45px;
}

#my_table tr {
    height: 50px;
}
